<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {{ content_for_header }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      Skip to the text
    </a>

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      <p>All rights reserved</p>
    </footer>
  </body>
</html>